/* Write your code here. */
.container {
  font-family: Roboto;
  text-align: center;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  margin: 2%;
  font-family: Bree Serif;
}
.box-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}
.small-box {
  background-color: #fbbf24;
  height: 60px;
  width: 60px;
}
.medium-box {
  background-color: #38bdf8;
  height: 120px;
  width: 120px;
}
.large-box {
  background-color: #ec4899;
  height: 180px;
  width: 180px;
}
@media (max-width: 576px) {
  .box {
    display: flex;
    flex-direction: column;
  }
}
